- options = options_for_select({ "$250.00 USD Monthly" => "price_1TDAoW4lidvXl27nh5genZoH",
    "$200.00 USD Monthly" => "price_1TDAoG4lidvXl27nAsXQ7PS9",
    "$150.00 USD Monthly" => "price_1TDAo64lidvXl27nksK2ruwq",
    "$125.00 USD Monthly" => "price_1TDAnq4lidvXl27nKdQlOPFa",
    "$100.00 USD Monthly" => "extra_large_monthly",
    "$75.00 USD Monthly" => "75_monthly",
    "$50.00 USD Monthly" => "large_monthly",
    "$45.00 USD Monthly" => "45_monthly",
    "$40.00 USD Monthly" => "40_monthly",
    "$35.00 USD Monthly" => "35_monthly",
    "$30.00 USD Monthly" => "30_monthly" }, @current_plan || "large_monthly")

= form_tag members_user_dues_path(@user), method: "patch", :id => "dues-form" do
  = select_tag :plan, options

  %a#js-dues.btn.btn-primary{ href: "#", data: { key: "#{ENV['STRIPE_PUBLISHABLE_KEY']}", email: @user.email } } #{action} Dues

%script{src: 'https://checkout.stripe.com/checkout.js'}
