%h2 View application

- if logged_in_as?(@user)
  %p= link_to 'Edit application', edit_application_path(@user.application)

= render partial: 'applications/show', locals: { application: @user.application }
