%p
  Hi #{@user.name}!

%p We are so excited for you to be a member of Double Union. Before things are official, though, we need you to confirm your membership #{ link_to "on this page", members_user_setup_url(@user.id) }.

%p
  If you have any questions, email the membership coordinators at #{mail_to I18n.t 'du.membership_email'}!


%p
  All the best,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", "http://www.doubleunion.org"
