%p
  Hi #{@user.name}!

%p
  If you're still excited about Double Union, sometime in the next seven days just fill out this #{ link_to "very short form", members_user_setup_url(@user.id) }. If we don't hear from you (via that form or by emailing the membership coordinators), we're going to cancel your membership in seven days since we'll assume you're not interested.

%p If you've already submitted a request for a dues scholarship and filled out your Google-friendly email address, and you're still waiting for your scholarship request to be processed, please email board@doubleunion.org and copy the membership coordinators to let them know they need to process your scholarship request. Your membership won't be cancelled while you're waiting on hearing about this.

%p
  If you have any questions, email the membership coordinators at #{ mail_to MEMBERSHIP_EMAIL }!


%p
  All the best,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
