%p
  Hi #{@user.name}!

%p
  If you're still excited about Double Union, sometime in the next seven days just fill out this #{ link_to "very short form", members_user_setup_url(@user.id) }. If we don't hear from you (via that form or by emailing the membership coordinators), we're going to cancel your membership in seven days since we'll assume you're not interested.

%p
  If you have any questions, email the membership coordinators at #{ mail_to MEMBERSHIP_EMAIL }!


%p
  All the best,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
