%h4 To be approved, an application needs:
%ul
  %li 5+ yes votes
  %li 1+ sponsor(s)
  %li <2 no votes
  %li Have been submitted for at least 3 days

%h3 Applications to Approve
= render 'application_approval_table', applications: @to_approve

%h3 Applications to Reject
= render 'application_approval_table', applications: @to_reject

%h3 Applications that need more votes or a sponsor
= render 'application_approval_table', applications: @unknown
