.row
  .col-md-10.col-md-offset-1
    %h4 To be approved, an application needs:
    %ul
      %li #{Application::MINIMUM_YES}+ yes votes
      %li 1+ sponsor(s)
      %li <2 no votes
      %li Have been submitted for at least 7 days

    %p The number of yes votes required is half of the voting membership, rounding down when it's an odd number of people.

    %p Clicking "Approve" makes the person a member, sends them an email notifying them, and moves them into the New Member page, where the new member coordinators help get them set up.

    %p Clicking "Reject" marks the person's application as rejected, but doesn't do anything else. Rejection emails are still a manual process from the membership@ email address.

%h3 Applications to Approve
= render 'application_approval_table', applications: @to_approve

%h3 Applications to Reject
= render 'application_approval_table', applications: @to_reject

%h3 Applications that need more votes or a sponsor
= render 'application_approval_table', applications: @unknown
