- if @members_and_key_members.any?
  %h3 Admin Membership Console
  %p Changing state on these buttons doesn't do anything except update the app. You'll still need to inform the person of the status change and add/remove permissions to things as necessary, such as:
  %ul
    %li Mailing lists
    %li Google drive folders
    %li Member's calendar
    %li Key codes / physical keys
    %li The wiki

  = render :partial => 'list', :locals => { :users => @members_and_key_members }
