%p
  Hey there!

%p
  Your last dues payment failed for some reason. If your credit card has expired or you've gotten a new card, please #{ link_to "visit the Double Union app", root_url } to update your card information (click "Manage Dues" in the pink member navbar). Filling out the form again will update your dues, not create a new set of charges.

%p
  If you have any questions or concerns, email the membership coordinators at #{ mail_to MEMBERSHIP_EMAIL }.

%p
  All the best,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
