%p
  Greetings!

%p
  #{@user.name} has requested a scholarship. Here's what they had to say:

%p
  = @reason

%p
  Please go to the app and approve or deny this person's scholarship, then email them to let them know.

%p
  Yours Truly,
  %br/
  Arooo
  %br/
