%p
  Greetings!

%p
  #{@user.name} has requested a scholarship. Here's what they had to say:

%p
  = @reason

%p
  Please go to the app and approve or deny this person's scholarship, then email them to let them know. Please also notify the membership coordinator (membership@doubleunion.org) that the person is on the scholarship list, so they can make sure the person's scholarship status is reflected in the membership management system (such as setting them up with Google Drive and Calendar if they're a brand-new member).

%p
  Yours Truly,
  %br/
  Arooo
  %br/
