%p You can make a one-time or monthly recurring donation via PayPal. #{ link_to "Independent Arts and Media", "http://artsandmedia.net/" } is our fiscal sponsor, so your donation is tax deductible.

%form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
  %input{name: "cmd", type: "hidden", value: "_s-xclick"}/
  %input{name: "hosted_button_id", type: "hidden", value: "7CNVVGHFDM2PY"}/
  %button{type: "submit", name: "Support us", class: "btn btn-primary"}
    Donate via PayPal
