%form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
  %input{name: "cmd", type: "hidden", value: "_s-xclick"}/
  %input{name: "hosted_button_id", type: "hidden", value: "3VEARKJV6DDUC"}/
  = succeed " " do
    %input{name: "on0", type: "hidden", value: "Pay what you can"}/
  %select{name: "os0"}
    %option{value: "Dues - $100"} $100.00 USD - monthly
    %option{value: "Dues - $50"} $50.00 USD - monthly
    %option{value: "Dues - $25"} $25.00 USD - monthly
    %option{value: "Dues - $10"} $10.00 USD - monthly
  %input{name: "currency_code", type: "hidden", value: "USD"}/
  %button{type: "submit", name: "Support us", class: "btn btn-default"}
    Pay dues
