%h2 Recent Comments

%table.table.table-striped.js-datatable-applications.applications
  %thead
    %tr.more-padding
      %th Commenter Name
      %th Applicant Name
      %th Comment
      %th Date
  %tbody
    - @recent_comments.each do |comment|
      %tr
        %td
          = comment.user.name
        %td
          = link_to comment.application.user.name, members_application_path(comment.application)
        %td
          = simple_format comment.body
        %td
          = comment.created_at
