%h2 Recent Comments

%table.table.table-striped.js-datatable-applications.applications
  %thead
    %tr.more-padding
      %th.name Commenter Name
      %th.name Applicant Name
      %th Comment
  %tbody
    - @recent_comments.each do |comment|
      %tr
        %td
          = comment.user.name
        %td
          = comment.application.user.name
        %td
          = comment.body
