.tumblr-post
  %h2= link_to_unless_current post.display_title, post

  - if post.photo?
    = render :partial => 'photos', :locals => { :photos => post.photos }

  %small
    Published to Tumblr
    = link_to pretty_timestamp(post.published_at), post.post_url, :alt => post.published_at, :title => post.published_at

  - if post.body.present?
    .tumblr-post-body= post.body.html_safe
