%h1 Base Assumptions

%h3 Things to keep in mind at Double Union

%p
  In discussions with one another, we’re all operating on the common ground that we "get" Feminism 101. For example, we assume that we all know "not all men" are like that
  &mdash;
  that when we talk about the bad behavior of one man, we all understand that this doesn’t suggest the non-existence of men who are not like that. This lets us not waste time repeating ourselves, and conversations go a lot more smoothly!

%p The space is explicitly not a place for people to come and ask Feminism 101 questions to their heart's content. We like to talk about feminism a lot, but not explaining that it is allowed to exist or that sexism exists to endless streams of dudebros.

%p We are also working on a list of "jokes we’ve heard before" that are banned in the space, for prominent display. For example, asking if Double Union’s existence is "reverse sexism" is totally a faux pas here!

%h3 Values you can assume other members strive for:
%ul
  %li “Women” includes trans women, not all women have uteri/XX chromosomes/etc.
  %li LGBTQ-supportive
  %li Majority of gender-associated differences are socialized, not biological
  %li Feminism is good
  %li Technocracy is wrong, meritocracy is a joke
  %li Intersectionality is super important
  %li Classism is not okay
  %li Prioritizing women and our needs is perfectly awesome and needs no excuse
  %li If you get called out on something, apologize and learn from it
%h3 Stuff that isn’t okay in this space:
%ul
  %li Taking "reverse sexism" seriously
  %li Using the phrase "politically correct" (in a way that is not 100% obviously ironic)
  %li Requests for feminism 101 education
  %li Playing devil’s advocate
  %li Taking away someone’s keyboard
  %li Questioning the existence of privilege
  %li Telling people how to do feminism right
  %li Touching people without explicit verbal consent
  %li Policing others' bodies or food choices
