%h2 Policies

%p
  All Double Union events and the Double Union space have an anti-harassment
  policy! Here is our policy:

%p
  Double Union is dedicated to providing a harassment-free experience for
  everyone, regardless of gender, gender identity and expression, sexual
  orientation, disability, physical appearance, body size, race, or religion.
  We do not tolerate harassment of people at our events or space in any form.
  Sexual language and imagery should only be used for women-positive purposes
  in accordance with best practices advocated by professional sex educators (if
  you’re not sure what those are, don’t do it). People violating these rules
  may be sanctioned or expelled from the space or the event at the discretion
  of any Double Union member.

%p Harassment includes:

%ul
  %li Offensive verbal comments
  %li Sexual images in public spaces
  %li Deliberate intimidation
  %li Stalking
  %li Following
  %li Photography or recording without consent
  %li Sustained disruption of talks or other events
  %li Inappropriate physical contact
  %li Unwelcome sexual attention

%p
  People asked to stop any harassing behavior are expected to comply
  immediately. Any behavior or action experienced as harassment will be
  responded to as such.
