.row
  .col-md-7
    %h2 So many thanks to these amazing folks

    %ul
      %li Lisa Hirsch
      %li= link_to "Tom Lowenthal", "http://flamsmark.com/"
      %li= link_to "William Pietri", "http://williampietri.com/"
      %li= link_to "zigdon", "https://twitter.com/zigdon"
      %li Kellie Brownell
  .col-md-5
    %h3 Want to join this distinguished list?

    %p
      We would love your support in creating a women-friendly makerspace
      in San Francisco! We hope to serve as a role model and resource for
      other makerspaces and hackerspaces around the world.

    = render "shared/donate"
