%h2 Visiting

%h3 Location

%p
  We are located on Valencia Street between 14th Street and 15th Street,
  between Four Barrel Coffee and Zeitgeist, at #{link_to "333 Valencia Street #445, San Francisco, CA 94103", "https://www.google.com/maps/place/333+Valencia+St+%23445/@37.7676615,-122.4220308,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7e2197ea456b:0xc3bdbce7dd7a1df7"}.

= image_tag s3_url('toner-map-1.png'), class: 'img-responsive', alt: 'Double Union map'

%h3 Access

%p
  Other than during events open to the public, Double Union visitors must be
  the invited guest of a member. Please do not visit without the express
  invitation of a member. Please do not invite guests unless you are a member.
  Guests may be any gender or age.

%h3 Conduct while in the space

%p
  Double Union has a strict #{link_to "anti-harassment policy", policies_path}
  which all visitors and members are expected to follow at all times. This
  policy is enforced by all Double Union members.

%h3 Open house

%p
  Open house events are open to the general public. Visitors do not need an
  invitation from a member to attend an open house, and may be any gender or
  age. We will announce when we start having open houses.

%h3 Accessibility

%p
  There is a small elevator to our floor. The elevator is operable by anyone
  during daytime hours, but in the evening after about 6:30pm it’s usually
  locked. We have keys to the elevator. If you need the elevator in the evening
  or early morning, you will need to know that someone stair-using is in the
  space to bring the elevator up and down and leave it parked properly. The
  elevator entrance is 27″ wide; the space inside is a bit wider and 53″ deep.
  Larger powerchairs or scooters may need the freight elevator.

%p
  Double Union is actively working to create a culture where we create and
  maintain accessible space. We will add more accessibility information as we
  go on, and would love feedback on how to improve.
