%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hi, #{@user.name}!
    %p Thanks for applying to Double Union!
    %p What happens now?
    %p
      We'd love to meet you. We often have a semi-open house on Thursday evenings in the space,
      and after our members meeting on Wednesday nights hang out in the space at 9pm for an hour or two.
      Both of these are great events to come to. We usually post to
      #{ link_to "our Twitter account", "https://twitter.com/doubleunionsf" } to confirm that we'll be there.
    %p
      Behind the scenes, current Double Union key members will review your application and vote on it.
      We also have a requirement that every applicant should be sponsored by one current member.
      The sponsor doesn't have to be your best friend or anything; we just want to make sure that
      someone has met you face-to-face and can vouch that you're a good fit!
    %p
      You're welcome to ask current members that you know if they'd be comfortable sponsoring you,
      but our members also actively looking for people we know or have met who we can sponsor.
      If after two weeks you don't have a sponsor yet, we'll let you know so that you can try to make
      it to an event. We should get back to you about your application within a month (but hopefully sooner).
    %p
      If you have any questions, feel free to email the membership coordinator at membership@doubleunion.org.

    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.doubleunion.org", "http://www.doubleunion.org"
