%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi #{@user.name},
    %p
      Your application has been open for two weeks and doesn't yet have a sponsor. Have you been to any Double Union events yet? We'd love to meet you and figure out if you'd be a good fit for the space.
    %p
      Feel free to email membership@doubleunion.org if you have any questions.
    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.doubleunion.org", "http://www.doubleunion.org"
