%p Great news! #{@user.name} (cc'd) is now a key member.

%p
  #{@user.name}, to finalize your key membership you must attend a Key Member Orientation. 
  %br/
  At the orientation we will:

%ul 
  %li Set you up with a keycode and smartlock access (smartlock access is either via a smartphone app or via a second keycode)
  %li Show you how to access and lock up the space
  %li Review the responsibilities of being a key member

%p 
  If there are no key member orientations currently scheduled, please reply-all to this email to schedule one with the Membership Coordinators (please include a few times/dates that would work well for you!). You may optionally attend key member orientation over video chat.

%p
  Wooooooo,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
