body.static.index {

  /* Narrow display jumbotron */
  @media (max-width: 599px) {
    .jumbotron .container {
      padding: 0;
    }
    .jumbotron-content {
      width: 100%;
      padding: 30px;
      h2 {
        font-size: 24px;
      }
    }
    h3 {
      font-size: 24px !important;
    }
  }

  /* Medium display jumbotron */
  @media (min-width: 600px) and (max-width: 959px) {
    .jumbotron-content {
      width: 100%;
      padding: 40px;
      h2 {
        font-size: 40px;
      }
    }
  }

  /* Wide display jumbotron */
  @media (min-width: 960px) {
    .jumbotron-content {
      width: 960px;
      margin-left: -155px;
      padding: 40px 155px;
      h2 {
        font-size: 40px;
      }
    }
  }

  .jumbotron {
    background-image: url('https://s3-us-west-1.amazonaws.com/doubleunion/jumbotron.png');
    background-position: center;
    .jumbotron-content {
      background-color: rgba(255, 255, 255, 0.8);
      h2 {
        margin-top: 0;
      }
    }
  }
  .thumbnail {
    display: inline-block;
    img {
      width: 156px;
      height: 156px;
    }
  }
  h3 {
    text-align: center;
    font-size: 32px;
  }
  h4 {
    font-size: 22px;
  }
  .row.donations {
    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
      &.col-first {
        padding-right: 20px;
      }
    }
  }
}
