.applications {
  tr.more-padding {
    th {
      padding-right: 30px;
    }
  }

  td.name, th.name {
    width: 300px;
  }
}

body.admin.applications.show {
  td.left {
    width: 30%;
    font-weight: bold;
    small {
      font-weight: normal;
      display: block;
    }
  }
  .comment {
    border-bottom: 1px solid #eee;
    padding: 3px 0;
    small {
      color: #999;
      font-size: 12px;
    }
    form, textarea {
      display: inline;
    }
    textarea {
      width: 400px;
      margin-bottom: 10px;
    }
  }
}

.admin-console {
  form {
    display: inline;
  }

  .buttons {
    padding: 0 0 0 10px;
    width: 170px;
  }

  .accept-btn {
    color: #000;
    background: #AEFF94;
    &:hover {
      background: #48FF0D;
    }
  }

  .reject-btn {
    color: #000;
    background: #ffabab;
    &:hover {
      background: #FF5252;
    }
  }

  .name {
    width: 200px;
  }
}

.instructions {
  margin-bottom: 30px;
  p {
    margin: 0
  }
}

.admin-warning {
  color: red;
}
