body.members {
  .checkbox-label {
    font-weight: normal;
    cursor: pointer;
  }
  .container {
    max-width: 900px !important;
  }
}

body.admin.applications.show {
  td.left {
    width: 30%;
    font-weight: bold;
    small {
      font-weight: normal;
      display: block;
    }
  }
  .comment {
    border-bottom: 1px solid #eee;
    padding: 3px 0;
    small {
      color: #999;
      font-size: 12px;
    }
    form, textarea {
      display: inline;
    }
    textarea {
      width: 400px;
      margin-bottom: 10px;
    }
  }
}


.pending-applications-header{
  a {
    color: #a09d9d
  }
}

.admin-console {
  form {
    display: inline;
  }

  .buttons {
    padding: 0 0 0 10px;
    width: 170px;
  }

  .btn {
    width: 70px;
  }

  .accept-btn {
    background: #AEFF94;
    &:hover {
      background: #48FF0D;
    }
  }

  .reject-btn {
    background: #ffabab;
    &:hover {
      background: #FF5252;
    }
  }

  .name {
    width: 200px;
  }
}
