body.admin {
  .checkbox-label {
    font-weight: normal;
    cursor: pointer;
  }
}

body.admin.applications.show {
  td.left {
    width: 30%;
    font-weight: bold;
    small {
      font-weight: normal;
      display: block;
    }
  }
  .comment {
    border-bottom: 1px solid #eee;
    padding: 3px 0;
    small {
      color: #999;
      font-size: 12px;
    }
    form, textarea {
      display: inline;
    }
    textarea {
      width: 400px;
    }
  }
}
