/* Member page layout styles */
body.members-layout {
  .checkbox-label {
    font-weight: normal;
    cursor: pointer;
  }
  .container {
    max-width: 950px;
  }
}

/* User show page styles */

.profile-pic {
  float: left;
  margin: 20px 20px 20px 0;
}

/* User edit page styles */
body.users.edit {
  form {
    input[type="text"], textarea {
      width: 400px;
    }
  }
}

/* Dues update page styles */
.wide-modal {
  width: 70%;
}

img.screenshot {
  margin: 0 auto;
  display: block;
}
