body.static.membership {
  .current-members {
    .current-member {
      width: 325px;
      float: left;
      margin-bottom: 10px;
      .icon-50 {
        width: 50px;
        height: 50px;
      }
      .member-image {
        float: left;
        width: 50px;
        height: 50px;
      }
      .member-info {
        width: 265px;
        float: right;
        padding: 5px 0;
        .member-name, .member-status {
          display: block;
          font-size: 16px;
          line-height: 20px;
        }
        .member-name {
          font-weight: bold;
        }
        .member-status {
          color: #999;
        }
      }
    }
  }
}
