.mb-5 {
  margin-bottom: 5px;
}

.min-width-150 {
  min-width: 150px;
}

.max-width-150 {
  max-width: 150px;
}

.ib {
  display: inline-block;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.hidden {
  display: none;
}
