%table.table
  %thead
    %tr
      %th Name
      %th Username
      %th Status
  %tbody
    - users.each do |user|
      %tr
        %td
          = user_gravatar(user, 20)
          - if user.name.present?
            = link_to user.name, members_user_path(user)
        %td= link_to user.username, members_user_path(user)
        %td= user.display_state
