- if current_user.member?
  .mt-20
    = link_to "Become a key member!", edit_members_user_key_members_path(current_user), class: "btn btn-default"

= render 'bookmarks'

- if @all_members.any?
  %h3 Members
  = render partial: 'list', locals: { users: @all_members }
