%h2 Admin

- if @key_members.any?
  %h3 Key members
  = render :partial => 'list', :locals => { :users => @key_members }

- if @members.any?
  %h3 Members
  = render :partial => 'list', :locals => { :users => @members }

- if @applicants.any?
  %h3 Applicants
  = render :partial => 'list', :locals => { :users => @applicants }

- if @visitors.any?
  %h3 Visitors
  = render :partial => 'list', :locals => { :users => @visitors }
